
* {
  box-sizing: border-box;
}

.bg3 {
  background: url("https://images.pexels.com/photos/33827321/pexels-photo-33827321.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;  
  margin: 0;
  padding: 20px;
}

.allpg3nobtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  font-size: 100px;
  text-align: center;
  color: blue;
}

.btn3, .btn3 a {
  color: aqua;
  background-color: black;
  width: 100%;
  font-size: 100px;
  text-decoration: none;
  display: block;
  border: none;
  cursor: pointer;
}
