.allpgnof{
    font-size: 100px;
 background-color: black;
 color: aqua;
 background-repeat: no-repeat;
 background-size: cover; 
 height: 100%;
 width: 100%;  
 background-repeat: no-repeat;
 background-size: cover; 
 height: 100%;
 width: 100%;  
}

.btnnof, .btnnof a{
        font-size: 100px;
        text-decoration: none;
        width: 100%;
        color: aqua;
        background-color: black;
}

